@model CalculoDeNomina.Models.CalculosDeNomina
@{
    ViewBag.Title = Model.NombreCalculo;
}




<h2>@Model.NombreCalculo</h2>


<div>
    <form action="../ActualizarNomina" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.ID" />
        <table class="table align-items-center">
            <tr>
                <td><p>Fecha del cálculo</p></td>
                <td><p>@Model.FechaCalculo</p></td>
            </tr>
            <tr>
                <td><p>Status</p></td>
                <td>
                    @if (Model.Estado)
                    {
                        <p>Procesado</p>
                    }
                    else
                    {
                        <p>En proceso</p>
                    }
                </td>
            </tr>
            <tr>
                <td><p>Cantidad de filas de la nómina</p></td>
                <td>
                    <p>@(Model.FilasAfectadas != null ? @Model.FilasAfectadas : 0) filas</p>
                </td>
            </tr>

            <tr>
                <td><p>Archivo Excel</p></td>
                <td><input class="btn-link" asp-for="archivo" name="archivo" type="file" accept=".xlsx" value="Subir archivo"></td>
            </tr>
        </table>



        @if (Model.ArchivoNomina != null)
        {
            <h4>Contenido del archivo</h4>
            <div>@Html.Raw(ViewBag.TablaExcel)</div>
        }

        <div class="row">
            <div class="col-6">
                <a class="col-2 btn btn-secondary" href="@Url.Action("HistorialNominas")">Volver</a>

                <button class="col-2 btn btn-success" type="submit">Guardar</button>
            </div>

            <div class="col-6 float-end">
                <button class="col-3 offset-9 btn btn-primary" id="btnMostrarModal">Enviar por correo</button>
            </div>

        </div>
    </form>



    <div class="modal fade" id="modalCorreo" tabindex="-1" role="dialog" aria-labelledby="modalCorreoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCorreoLabel">Enviar correo con los datos de nómina</h5>
                    <button type="button" class="close btnCerrarModal" id="btnCerrarModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-start">
                    <form class="form-check" action="/" method="post">
                        <div class="form-group" width="100%">
                            <label for="correo-destinatario" class="col-form-label">Destinatario:</label>
                            <input class="form-control" type="text" name="correoDestinatario" value="" placeholder="ejemplo@correo.com" />
                        </div>

                        <div class="form-group" width="100%">
                            <label for="correo-copia" class="col-form-label">CC:</label>
                            <input class="form-control" type="text" name="correoCopia" value="" placeholder="ejemplo@correo.com" />
                        </div>

                        <div class="form-group" width="100%">
                            <label for="contenido-correo" class="col-form-label">Mensaje adicional:</label>
                            <textarea class="form-control mb-2" placeholder="Escriba aquí si quiere agregar un mensaje adicional. Los datos de la nómina y el archvio adjunto ya se incluyen en el cuerpo del correo."></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btnCerrarModal" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Enivar Correo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#btnMostrarModal').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("MostrarModalCorreo", "HistorialNominas")',
            type: 'POST',
            success: function (result) {
                $('#modalCorreo').modal('show');
            }
        });
    });

    $('.btnCerrarModal').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("CerrarModalCorreo", "HistorialNominas")',
            type: 'POST',
            success: function (result) {
                $('#modalCorreo').modal('hide');
            }
        });
    });
</script>


@*<script>
    $(#modalCorreo).ready(function () {
    var mostrar = '@ViewBag.MostrarModal';
    if (mostrar === 'True') {
        $('#modalCorreo').modal('show');
    }
});
</script>*@